app:
    resource: '@AppBundle/Controller/'
    type: annotation

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

jmose_command_scheduler:
  resource : "@JMoseCommandSchedulerBundle/Resources/config/routing.yml"
  prefix: /