{% extends 'base.html.twig' %}

{% block page_content %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Intervention Requests</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Requests</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <p>You can go through the assistance requests to modify or delete them.</p>

                        <!-- start request list -->
                        <table class="table table-striped requests">
                            <thead>
                                <tr>
                                    <th style="width: 1%">#</th>
                                    <th style="width: 20%">Assistance Type</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                    <th style="width: 10%">#Visibility</th>
                                    <th style="width: 15%">#Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#</td>
                                    <td>
                                        <a>Emergency Ambulance</a>
                                        <br/>
                                        <small>Created 01.01.2015</small>
                                    </td>
                                    <td>
                                        <p>47, Bond Street 674852. Singapore.</p>
                                    </td>
                                    <td>
                                        <p>(+65) 8856 4887</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">In Progress
                                        </button>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-default btn-xs"><i
                                                    class="fa fa-eye"></i> Show to public </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-xs"><i
                                                    class="fa fa-pencil"></i> Edit </a>
                                        <a href="#" class="btn btn-danger btn-xs"><i
                                                    class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#</td>
                                    <td>
                                        <a>Fire-Fighting</a>
                                        <br/>
                                        <small>Created 01.01.2015</small>
                                    </td>
                                    <td>
                                        <p>47, Bond Street 674852. Singapore.</p>
                                    </td>
                                    <td>
                                        <p>(+65) 8856 4887</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs">In Progress
                                        </button>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-default btn-xs"><i
                                                    class="fa fa-eye-slash"></i> Hide from public </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-xs"><i
                                                    class="fa fa-pencil"></i> Edit </a>
                                        <a href="#" class="btn btn-danger btn-xs"><i
                                                    class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#</td>
                                    <td>
                                        <a>Gas Leak Control</a>
                                        <br/>
                                        <small>Created 01.01.2015</small>
                                    </td>
                                    <td>
                                        <p>47, Bond Street 674852. Singapore.</p>
                                    </td>
                                    <td>
                                        <p>(+65) 8856 4887</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Success
                                        </button>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-default btn-xs"><i
                                                    class="fa fa-eye-slash"></i> Hide from public </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-xs"><i
                                                    class="fa fa-pencil"></i> Edit </a>
                                        <a href="#" class="btn btn-danger btn-xs"><i
                                                    class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#</td>
                                    <td>
                                        <a>Rescue and Evacuation</a>
                                        <br/>
                                        <small>Created 01.01.2015</small>
                                    </td>
                                    <td>
                                        <p>47, Bond Street 674852. Singapore.</p>
                                    </td>
                                    <td>
                                        <p>(+65) 8856 4887</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Success
                                        </button>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-default btn-xs"><i
                                                    class="fa fa-eye-slash"></i> Hide from public </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-xs"><i
                                                    class="fa fa-pencil"></i> Edit </a>
                                        <a href="#" class="btn btn-danger btn-xs"><i
                                                    class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#</td>
                                    <td>
                                        <a>Rescue and Evacuation, Fire-Fighting</a>
                                        <br/>
                                        <small>Created 01.01.2015</small>
                                    </td>
                                    <td>
                                        <p>47, Bond Street 674852. Singapore.</p>
                                    </td>
                                    <td>
                                        <p>(+65) 8856 4887</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Success
                                        </button>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-default btn-xs"><i
                                                    class="fa fa-eye-slash"></i> Hide from public </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-xs"><i
                                                    class="fa fa-pencil"></i> Edit </a>
                                        <a href="#" class="btn btn-danger btn-xs"><i
                                                    class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#</td>
                                    <td>
                                        <a>Emergency Ambulance</a>
                                        <br/>
                                        <small>Created 01.01.2015</small>
                                    </td>
                                    <td>
                                        <p>47, Bond Street 674852. Singapore.</p>
                                    </td>
                                    <td>
                                        <p>(+65) 8856 4887</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Success
                                        </button>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-default btn-xs"><i
                                                    class="fa fa-eye-slash"></i> Hide from public </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-xs"><i
                                                    class="fa fa-pencil"></i> Edit </a>
                                        <a href="#" class="btn btn-danger btn-xs"><i
                                                    class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#</td>
                                    <td>
                                        <a>Gas Leak Control</a>
                                        <br/>
                                        <small>Created 01.01.2015</small>
                                    </td>
                                    <td>
                                        <p>47, Bond Street 674852. Singapore.</p>
                                    </td>
                                    <td>
                                        <p>(+65) 8856 4887</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Success
                                        </button>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-default btn-xs"><i
                                                    class="fa fa-eye"></i> Show to public </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-xs"><i
                                                    class="fa fa-pencil"></i> Edit </a>
                                        <a href="#" class="btn btn-danger btn-xs"><i
                                                    class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#</td>
                                    <td>
                                        <a>Emergency Ambulance</a>
                                        <br/>
                                        <small>Created 01.01.2015</small>
                                    </td>
                                    <td>
                                        <p>47, Bond Street 674852. Singapore.</p>
                                    </td>
                                    <td>
                                        <p>(+65) 8856 4887</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Success
                                        </button>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-default btn-xs"><i
                                                    class="fa fa-eye-slash"></i> Hide from public </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-xs"><i
                                                    class="fa fa-pencil"></i> Edit </a>
                                        <a href="#" class="btn btn-danger btn-xs"><i
                                                    class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#</td>
                                    <td>
                                        <a>Fire-Fighting</a>
                                        <br/>
                                        <small>Created 01.01.2015</small>
                                    </td>
                                    <td>
                                        <p>47, Bond Street 674852. Singapore.</p>
                                    </td>
                                    <td>
                                        <p>(+65) 8856 4887</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Success
                                        </button>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-default btn-xs"><i
                                                    class="fa fa-eye-slash"></i> Hide from public </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-xs"><i
                                                    class="fa fa-pencil"></i> Edit </a>
                                        <a href="#" class="btn btn-danger btn-xs"><i
                                                    class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- end request list -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}