
{% block page_content %}
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Crises Hot Period Overview</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div style="width: 100%;">
                        <div class="leftbox">
                            <p class="leftbox_text" style="color:#E74C3C;">Haze |</p>
                        </div>
                        <div class="rightbox" >
                            <p id="hazemonth" class="rightbox_text"></p>
                            <p id="hazecase" style=" font-size: 12px; text-align:left; margin: 0px; margin-bottom:20px;"></p>
                        </div>
                    </div>
                    <div style="clear:both"></div>

                    <!-- Dengue -->
                    <div style="width: 100%;">
                        <div class="leftbox">
                            <p class="leftbox_text" style="color:#3498DB;">Dengue |</p>
                        </div>
                        <div class="rightbox">
                            <p id="denguemonth" class="rightbox_text" ></p>
                            <p id="denguecase" style="font-size: 12px; text-align:left; margin: 0px; margin-bottom:20px;"></p>
                        </div>
                    </div>
                    <div style="clear:both"></div>

                    <!-- Fire -->
                    <div style="width: 100%;">
                        <div class="leftbox">
                            <p class="leftbox_text" style="color:#9B59B6;">Fire |</p>
                        </div>
                        <div class="rightbox">
                            <p id="firemonth" class="rightbox_text"></p>
                            <p id="firecase" style="font-size: 12px; text-align:left; margin: 0px; margin-bottom:20px;"></p>
                        </div>
                    </div>
                    <div style="clear:both"></div>

                    <!-- Car Accident -->
                    <div style="width: 100%;">
                        <div class="leftbox">
                            <p class="leftbox_text" style="color:#1ABB9C;">Accident |</p>
                        </div>
                        <div class="rightbox">
                            <p id="accidentmonth" class="rightbox_text"></p>
                            <p id="accidentcase" style="font-size: 12px; text-align:left; margin: 0px; margin-bottom:20px;"></p>
                        </div>
                    </div>  
                    <div style="clear:both"></div>

                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}

{% block custom_javascripts %}
    <!-- Custom Theme Scripts -->
    <script>
        function hotPeriodOverview(hazedata, denguedata, firedata, accidentdata) {
            var hazecase, denguecase, firecase, accidentcase;
            var hazemonth, denguemonth, firemonth, accidentmonth;

            // find largest value in array
            hazecase = findLargestValue(hazedata);
            denguecase = findLargestValue(denguedata);
            firecase = findLargestValue(firedata);
            accidentcase = findLargestValue(accidentdata);

            // get the position of largest value
            hazemonth = hazedata.reduce((iMax, x, i, arr) => x > arr[iMax] ? i : iMax, 0);
            hazemonth++;
            document.getElementById('hazemonth').innerHTML = formatMonth(hazemonth);

            denguemonth = denguedata.reduce((iMax, x, i, arr) => x > arr[iMax] ? i : iMax, 0);
            denguemonth++;
            document.getElementById('denguemonth').innerHTML = formatMonth(denguemonth);

            firemonth = firedata.reduce((iMax, x, i, arr) => x > arr[iMax] ? i : iMax, 0);
            firemonth++;
            document.getElementById('firemonth').innerHTML = formatMonth(firemonth);

            accidentmonth = accidentdata.reduce((iMax, x, i, arr) => x > arr[iMax] ? i : iMax, 0);
            accidentmonth++;
            document.getElementById('accidentmonth').innerHTML = formatMonth(accidentmonth);

            document.getElementById('hazecase').innerHTML = hazecase + ' case(s)';
            document.getElementById('denguecase').innerHTML = denguecase + ' case(s)';
            document.getElementById('firecase').innerHTML = firecase + ' case(s)';
            document.getElementById('accidentcase').innerHTML = accidentcase + ' case(s)';
        }

        function findLargestValue(crisislist) {
            var cases = crisislist[0];
            for (var i = 0; i < crisislist.length; i++) {
                if (cases < crisislist[i]) {
                    cases = crisislist[i];
                }
            }
            return cases;
        }

        function formatMonth(value) {
            var monthstr;
            switch (value) {
                case 1:
                    monthstr = 'January';
                    break;
                case 2:
                    monthstr = 'February';
                    break;
                case 3:
                    monthstr = 'March';
                    break;
                case 4:
                    monthstr = 'April';
                    break;
                case 5:
                    monthstr = 'May';
                    break;
                case 6:
                    monthstr = 'June';
                    break;
                case 7:
                    monthstr = 'July';
                    break;
                case 8:
                    monthstr = 'August';
                    break;
                case 9:
                    monthstr = 'September';
                    break;
                case 10:
                    monthstr = 'October';
                    break;
                case 11:
                    monthstr = 'November';
                    break;
                case 12:
                    monthstr = 'December';
                    break;
            }
            return monthstr;
        }
    </script>
{% endblock %}